:root {
    /* --text: #ffffff;
    --bg: #6B6B6B;
    --pr: #FFC91A;
    --se: #F4911F;
    --ac: #FF2424; */
    --text: #ebf8fa;
    --background: #0a2629;
    --primary: #ae3a2d;
    --secondary: #03393f;
    --accent: #db8c14;

}

body {
    background-color: var(--background);
    color: var(--text);
}

nav {
    background-color: var(--background);
    color: var(--text);
    border: var(--secondary) 2px solid;
    background-color: var(--accent);
    width: 30%;
    height: 3.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    transition: transform 0.3s, color 0.3s;
    
}

a i {
    transform: translateY(0%);
    color: var(--primary);
    
    
}

a:hover i {
    transform: translateY(-20%);
    color: #ffffffff;
    /* width: 30px;
    height: 30px; */
     

    /* background: var(--background); */


}

@media screen and (max-width: 720px) {
    nav {
       width: 80%;
    }
 }