@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


:root {
    --text: #ebf8fa;
    --background: #0a2629;
    --primary: #ae3a2d;
    --secondary: #03393f;
    --accent: #db8c14;
    --buttonclicked: #1c7c87;
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: var(--background);
    color: var(--text);
    border: var(--secondary) 2px solid;
    background-color: var(--accent);
    width: 30%;
    height: 3.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* index page  */

.home_intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}




/* personal page */
i {
    transition: transform 0.3s, color 0.3s;
}

a i {
    transform: translateY(0%);
    color: var(--primary);
}

a:hover i {
    transform: translateY(-20%);
    color: rgb(214, 214, 214);
}

a.active i {
    color: var(--buttonclicked);
}

.page {
    min-height: 100vh;
    height: 100%;
    padding: 5vw 1vw;
    overflow-x: hidden;
}

.box {
    border: 3px solid #000000;

    border-radius: 1.3vw;
    background-color: var(--text);
    padding: 1vw;
    color: var(--background);
}



.row :nth-child(even)>div:not(.icons, .text) {
    animation: boxinright ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.row :nth-child(odd)>div:not(.icons, .text) {
    animation: boxinleft ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.icons>a>i {
    color: #000000 !important;
    margin: 0.5rem;
}

.box>.icons {
    text-align: right;
}

.text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.icons>a:hover>i {
    color: var(--primary) !important;
}

/* scroller visual part */

.positional_scroller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: var(--buttonclicked);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}


.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
/* projects page */

.projects {
    padding-top: 5rem;
}


/* my animations */
@keyframes boxinleft {
    0% {
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(30%);
    }

    50% {
        transform: translateX(-20%);
    }

    75% {
        transform: translateX(3%);
    }

    100% {
        transform: translateX(0%);

    }
}

@keyframes boxinright {
    0% {
        transform: translateX(100%);
    }

    25% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(20%);
    }

    75% {
        transform: translateX(-3%);
    }

    100% {
        transform: translateX(0%);

    }
}

@media screen and (min-width: 720px) {
    .box {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 879px) {
    .display-3 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 768px) {
    .display-3 {
        font-size: 2rem;
        margin-top: 5em !important;
    }
    
}

@media screen and (max-width: 528px) {
    .display-3 {
        font-size: 1.4rem;
        margin-top: 5em !important;
    }
    
}

@media screen and (max-width: 720px) {
    nav {
        width: 80%;
    }

    .positional_scroller {
        margin-top: 4rem;

    }

    .box {
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 1rem;
    }
}
