@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


:root {
    --text: #ebf8fa;
    --background: #0a2629;
    --primary: #ae3a2d;
    --secondary: #03393f;
    --accent: #db8c14;
    --buttonclicked: #1c7c87;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: var(--background);
    color: var(--text);
    border: var(--secondary) 2px solid;
    background-color: var(--accent);
    width: 30%;
    height: 3.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    transition: transform 0.3s, color 0.3s; 
}

a i {
    transform: translateY(0%);
    color: var(--primary);
}

a:hover i {
    transform: translateY(-20%);
    color: rgb(214, 214, 214);
}
a.active i {
    color: var(--buttonclicked);
}
.page{
    min-height: 100vh;
    height: 100%;
    padding: 5vw 1vw;
    overflow-x: hidden; 
}
.box{
    border:3px solid #000000;

    border-radius: 1.3vw;
    background-color: var(--text);
    padding: 1vw;
    color: var(--background);
}



.row :nth-child(even) > div:not(.icons , .text){ 
    animation: boxinright ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
.row :nth-child(odd) > div:not(.icons , .text){
    animation: boxinleft ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.icons > a > i {
    color: #000000 !important;
    margin: 0.5rem;
}

.box > .icons {
    text-align: right;
}
.text{
    text-align:  center ;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

.icons > a:hover > i {
    color: var(--primary) !important;
}



@keyframes boxinleft {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(30%);
    }
    50% {
        transform: translateX(-20%);
    }
    75% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(0%);

    }  
}

@keyframes boxinright {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-30%);
    }
    50% {
        transform: translateX(20%);
    }
    75% {
        transform: translateX(-3%);
    }
    100% {
        transform: translateX(0%);

    }  
}


@media screen and (max-width: 720px) {
    nav {
       width: 80%;
    }
    .box{
        border-radius: 0.5rem;
        margin-top: 3rem;
        padding: 1rem;
    }    
 }